{% extends 'registrationpages.html.twig' %}

{% block title %}Bienvenue - TaskLinker{% endblock %}

{% block content %}

    <h1>Bienvenue sur TaskLinker</h1>

    <h2>Commencez dès maintenant - gratuitement</h2>

    <p>Vous avez déjà un compte ?</p>

    <a href="">
        <button class="button button-submit button-login">Se connecter</button>
    </a>
    
    <div class="separator">
        <div class="line"></div>
        <p>ou</p>
        <div class="line"></div>
    </div>

    <a href="{{ path('app_registration_new') }}">
        <button class="button button-register">S'inscrire</button>
    </a>



{% endblock %}