{% extends 'base.html.twig' %}

{% block body %}

<div class="login-container">

    <div class="login-logo">
    <a href="{{url('app_registration')}}" id="logo">
        <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
    </a>
    </div>

    <div class="login">

        {% block content %} {% endblock %}
        
    </div>

</div>

{% endblock %}