{% extends 'homepage.html.twig' %}

{% block title %}Non autorisé - TaskLinker{% endblock %}

{% block titlePage %}
    <h1>Accès refusé</h1>
{% endblock %}

{% block content %}

<p class="error">L'accès à cette page est réservée aux chef.fe.s de projets.</p>

{% endblock %}